/* Custom CSS
-------------------------*/
body {
    padding-top: 0px;
}

#page-header-main {
    margin-bottom: 0.75em;
    border-bottom: 2px solid #ddd;
}

#page-header-menu {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header-custom-menu ul {
    margin-bottom: 0px;
}

.dropdown-menu {
    right: 0px;
    left: auto;
}

a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

.block {
  border-color: [[setting:themebgcolor]];
  padding-top: 0px;
  background-color: #fcfcfc;
}

.block .header h2 {
  color: [[setting:themefontcolor]];
  border-color: #ddd;
  background-color: [[setting:themebgcolor]];
}

table .header,
table .heading {
  color: [[setting:themefontcolor]];
  background-color: [[setting:themebgcolor]];
 } 
 
table .header a {
  color: [[setting:themelinkcolor]];
 } 

table#explaincaps tbody>tr:nth-child(2n+3)>td,
table#defineroletable tbody>tr:nth-child(2n+3)>td,
table.grading-report tbody>tr:nth-child(2n+3)>td,
table#listdirectories tbody>tr:nth-child(2n+3)>td,
table.rolecaps tbody>tr:nth-child(2n+3)>td,
table.userenrolment tbody>tr:nth-child(2n+3)>td,
table#form tbody>tr:nth-child(2n+3)>td,
form#movecourses table tbody>tr:nth-child(2n+3)>td,
#page-admin-course-index .editcourse tbody>tr:nth-child(2n+3)>td,
.forumheaderlist tbody>tr:nth-child(2n+3)>td,
table.flexible tbody>tr:nth-child(2n+3)>td,
.generaltable tbody>tr:nth-child(2n+3)>td,
table#explaincaps tbody>tr:nth-child(2n+3)>th,
table#defineroletable tbody>tr:nth-child(2n+3)>th,
able.grading-report tbody>tr:nth-child(2n+3)>th,
table#listdirectories tbody>tr:nth-child(2n+3)>th,
table.rolecaps tbody>tr:nth-child(2n+3)>th,
table.userenrolment tbody>tr:nth-child(2n+3)>th,
table#form tbody>tr:nth-child(2n+3)>th,
form#movecourses table tbody>tr:nth-child(2n+3)>th,
#page-admin-course-index .editcourse tbody>tr:nth-child(2n+3)>th,
.forumheaderlist tbody>tr:nth-child(2n+3)>th,
table.flexible tbody>tr:nth-child(2n+3)>th,
.generaltable tbody>tr:nth-child(2n+3)>th
{
  background-color: #f9f9f9;
}

/* fix question feedback display inline */
.que.match .feedback .rightanswer p {
  display: block;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]

/* Printing Settings
 * -------------------------*/
@media print {
    #page {
        width: 100%;
    }
        
    body.has_dock div#dock,
    #block-region-side-pre,
    #block-region-side-post,
        display: none;
    }
}
